<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if session[:user].nil? %>
		<form action='/signin' method='post' class='signin-form'>
			<input type='text' placeholder='ユーザー名' name='name' required/>	
			<input type='password' placeholder='パスワード' name='password' required/>	
			<input type='submit' value='Sign in'/>
		</form>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>

	<% unless @posts.empty? %>
		<% @posts.each do |value|%>
			<div class='post center-vertical'>
				<img src="<%=value["img"]%>">
				<p>アーティスト: <%=value["artist"]%></p>
				<p>アルバム: <%=value["album"]%></p>
				<p>曲名: <%=value["music"]%></p>
				<p><a href="<%=value["link"]%>">サンプル</a></p>
				<p>コメント:<%=value["comment"]%></p>
				<p>
					投稿者: <%=value[:user_name]%>
				</p>
				<p>いいねしたユーザー</p>
				<div class="user-box">
					<% value[:user_imges].each do |img|%>
						<img src="<%= img %>" alt='user_imge' width='40' height='40'/>
					<% end %>
				</div>
				<% unless session[:user].nil?%>
					<a href="/post/<%=value["id"]%>/like"><%=value[:like_text]%></a>
				<% end %>
			</div>
		<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>

	<%# TODO: ここで分岐 %>
	<!--<p>投稿がありません</p>-->
</section>
