<div id='post_list_container'>
    <% @posts.each do |val| %>
        <section class='post_record'>
            <div class='record_user_info'>
                <img src='<%=val[:user_img]%>' alt='user_img' class='record_user_img'/>
                <p class='record_user_name'><%=val[:user_name]%></p>
            </div>
            <h1><%=val["title"]%></h1>
            <div class='record_like_info'  onclick="handleClickLike('<%= val["id"] %>')" id="<%= val["id"] %>">
                <img src='/assets/img/like.svg' alt='like' class='record_like_icon' />
                <p class='record_like_count'><%=val[:like_count]%></p>
            </div>
        </section>
    <% end %>
</div>
<script>
    const handleClickLike=(id)=>{
        const count = $(`#${id} p`).text()
        const body = {id:Number(id),count:Number(count)}
        
        postDB("/like",body,(data)=>{
              $(`#${id} p`).text(data.count)
        })
    }
</script>