<div id='detail_container'>
    <div class='detail_nav'>
        <div class='detail_like_info'  onclick="<%if session[:user]%> handleClickLike(event,'<%= @post.id.to_i %>') <% end %>" id="<%= @post.id.to_i %>">
            <div class='like_icon_box'>
                <img src='/assets/img/like.svg' alt='like' class='detail_like_icon' />
            </div>
            <p class='detail_like_count'><%=@like_count%></p>
        </div>
    </div>
    <section id='detail_box'>
        
        <article id='detail_header'>
            <div id='detail_user_info'>
                <img src='<%=@user.img%>'/>
                <p><%=@user.name%></p>
            </div>
            
            <h1 id='detail_title'><%=@post.title%></h1>
            
            <img src='/assets/img/menu.svg' alt='menu' id='menu_icon'/>
            
            <div class='edit_box' id='edit_box'>
                <a href='/post/<%=@post.id.to_i%>/edit' id='post_edit'>編集</a>
                <a href='/post/<%=@post.id.to_i%>/delete' id='post_delete'>削除</a>
            </div>
        </article>
        
        <article class='contents-box'>
            <h2>概要</h2>
            <p><%=@post.context%></p>
        </article>
        
        <article class='contents-box'>
            <h2>解決する問題</h2>
            <p><%=@post.question%></p>
        </article>
        
        <% if session[:user]%>
            <article id='post_comment'>
                    <img src="<%=session[:user][:img]%>" alt='user_icon'/>
                    <form action='/comment/<%=params[:id]%>' method='post'>
                        <input type='text' name='comment' placeholder='コメント' required id='detail_replay'>
                        <input type='submit' value='投稿' id='detail_replay_button'>
                    </form> 
            </article>
        <%end%>
        
        <% @comments.each do |comment| %>
        <article class='comment_box'>
            <img src="<%=comment.user.img%>" alt='user_icon' >
            <h1><%=comment.comment%></h1>
        </article>
        <% end %>
        
    </section>
</div>
<script>
    // $("#menu_icon").on("click",()=>{
    //     $("#edit_box").css("display","flex")
    // })
</script>