<section id='profile_container'>
    <article>
        <% if session[:user][:img] %>
            <img src='<%=session[:user][:img]%>' alt='user_icon' id='profile_user_icon'/>
        <% else %>
            <img src="/assets/img/default.svg" alt='user_icon' id='profile_user_icon'/>
        <% end %>
        
        <p id='profile_user_name'><%=session[:user][:name]%></p>
        
        <div id='profile_tab'>
            <a href='?tab=post' style="<%= params[:tab]==="post" ? "color:#000;": "color:#aaa;" %>">投稿</a>
            <a href='?tab=like' style="<%= params[:tab]==="like" ? "color:#000;": "color:#aaa;" %>">いいね</a>
        </div>
        
        <div id='profile_edit_box'>
            <a href="/logout">
                ログアウト    
            </a>
        </div>
        <div  id='profile_menu_icon'>
            <img src='/assets/img/menu.svg' alt='menu'/>
        </div>
    </article>
    
    <% @posts.each do |_post| %> 
        <article class='post_record' onclick="handlePushRouter('/post/<%=_post["id"]%>')">
            <div class='record_user_info'>
                <img src='<%=_post[:user_img]%>' alt='user_img' class='record_user_img'/>
                <p class='record_user_name'><%=_post[:user_name]%></p>
            </div>
            <h1><%=_post["title"]%></h1>
            <div class='record_like_info'  onclick="<%if session[:user]%> handleClickLike(event,'<%= _post["id"] %>') <% end %>" id="<%= _post["id"] %>">
                <img src='/assets/img/<%=_post[:isLike]%>.svg' alt='like' class='record_like_icon' />
                <p class='record_like_count'><%=_post[:like_count]%></p>
            </div>
        </article>
    <%end%>
</section>
<script>
    $("#profile_menu_icon").on("click",()=>{
        $("#profile_edit_box").toggle()
    })
</script>